body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav, li, a {
    text-decoration: none;
    list-style: none;
}

.fixednav {
    position: fixed;
    top: 25vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
}

.maincontainer {
    display: flex;
    flex-direction: column;
}

.colscontainer {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
}
.navmenu {
    background-color: aquamarine;
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.navmenu1 {
    border: 1px solid black;
}

.navmenu2 {
    border: 1px solid black;
}

.navmenu3 {
    border: 1px solid black;
}

.navmenu4 {
    border: 1px solid black;
}

.mainsection {
    border: 1px solid black;
    background-color: aqua;
    flex: 5;
}

.sidesection {
    border: 1px solid black;
    background-color: gray;
    flex: 2;
}

th, td {
    border-bottom:1px solid black;
    text-align: center;
}

table {
    width: 100%;
    background-color: aliceblue;
}

.mainsecimg {
    display: grid;
    justify-items: center;
}

.sideimg {
    width: 100%;
}

.footer {
    background-color: wheat;
}

@media (max-width: 700px) {

    .navmenu {
        background-color: aquamarine;
        border: 1px solid black;
        justify-content: center;
        height: 10vh;
        width: 100%;
        position: fixed;
    }

    .fixednav {
        top: unset;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: unset;
        width: 80vw;
    }

    .navmenu1 {
        border: 1px solid black;
 
    }
    
    .navmenu2 {
        border: 1px solid black;
    }
    
    .navmenu3 {
        border: 1px solid black;
    }
    
    .navmenu4 {
        border: 1px solid black;
    }

    .colscontainer {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .mainsection {
        border: 1px solid black;
        margin-top: 10vh;
    }
    
    .footer {
        height: 5vh;
    }

}