
/*
-----------------------------------------------------------------

    Legend:

CTRL+F to search key words

    0. Imports font from google-fonts

    1. Global settings

    2. Background settings

    3. Columns settings

    4. Navigation bar settings
        4.1 button hover (Search key word)
        4.2 navigation button - animation (Search key word)

    5. Main section settings
        5.1 Scroll to read more - (Search key word)
        5.1.1 animation (Search key word)

    6. Side section settings

    7. Footer settings

    8. Mobile phones settings
        mobile phones (Search key word)

    9. Standard definition settings
        SD (Search key word)

-----------------------------------------------------------------
*/


/*
-----------------------------------------------------------------
    0. Imports font from google-fonts
-----------------------------------------------------------------
*/
    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Courgette&family=Merienda:wght@400;700&family=Oxygen:wght@300;400;700&family=Sriracha&display=swap');


/*
-----------------------------------------------------------------
    1. Global settings
-----------------------------------------------------------------
*/
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Barlow', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        overflow-x: hidden;
    }

    h1, h2 {
        font-family: 'Sriracha', sans-serif;
        border-bottom: 2px solid rgb(0, 0, 0);
        padding: 1% 0 0 7%;
        color: rgb(0, 0, 0);
        margin: 0% 0 3% 0;
        font-size: 1.6rem;
    }

    h3 {
        font-family: 'Courgette', sans-serif;
        text-indent: 15%;
        border-bottom: 0.5px solid rgb(0, 0, 0);
    }

    p {
        letter-spacing: 0.02rem;
        text-indent: 5%;
        text-align: justify;
        color: rgb(0, 0, 0);
    }

    th, td {
        text-align: left;
        font-size: 0.9rem;
    }

    table {
        width: 100%;
        padding: 0 1% 2% 2%;
        border-spacing: 0.35rem;
    }

    li, a, .footer-social-media-title {
        text-decoration: none;
        list-style: none;
        color: rgb(150, 0, 0);
    }

    a:hover {
        cursor: pointer;
    }

/*
-----------------------------------------------------------------
    2. Background settings
-----------------------------------------------------------------
*/
    .navmenu-background, .background {
        z-index: -1;
        position: fixed;
        height: 100vh;
    }

    .background {
        width: 100vw;
    }

    .background-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-background {
        background-color: rgb(240, 248, 255);
        z-index: -2;
      }

    .about-skew {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg,
                  rgb(55 0 0) 20%,
                  rgb(190 85 85) 70%);
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
        transform: skewY(331deg);
        transform-origin: top right;
      }


/*
-----------------------------------------------------------------
    3. Columns settings
-----------------------------------------------------------------
*/
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .cols-container {
        min-height: 100vh;
        min-width: 100vw;
        display: flex;
    }

    .mainsection-container {
        display: flex;
        flex: 9;
    }

/*
-----------------------------------------------------------------
    4. Navigation bar settings
-----------------------------------------------------------------
*/
    .navmenu-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        box-shadow:  inset 0px 0px 20px 1px rgb(0 0 0);
    }

    .navbutton {
        width: 85%;
    }

    .fixednav {
        position: fixed;
        top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 40vh;
        width: 8vw;
    }

    .navbutton-item {
        font-family: 'Merienda', sans-serif;
        border-bottom: 0.2rem solid rgb(255, 255, 255);
        border-radius: 50%;
        font-size: 0.9rem;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-shadow: rgb(0 0 0) -1px -1px 20px, rgb(0 0 0) -2px -2px 2px,
                     rgb(0 0 0) -3px -3px 2px,
                     rgb(0 0 0) 1px 1px 20px, rgb(0 0 0) 2px 2px 2px,
                     rgb(0 0 0) 3px 3px 2px;
        display: flex;
        justify-content: center;
        transition: 1.5s;
    }

    /* 4.1 Makes navigation button hover when active */
    .active, .navbutton-item:hover {
        border: outset;
        padding: 2%;
        box-shadow: inset rgb(132 132 132) 3px 3px 20px 20px,
                    rgb(0 0 0) -3px -3px 5px 0px,
                    inset rgb(192 192 192) -3px -3px 20px 20px,
                    rgb(0 0 0) 3px 3px 5px 0px;
        animation: active 0.5s;
        justify-content: space-evenly;
    }

    /* 4.2 Makes an animation when navigation button is active */
    @keyframes active {
        0% {
        transform: scale(1, 1);
        }
        50% {
        transform: scale(1.3, 1.3);
        }
        100% {
        transform: scale(1, 1);
        }
    }

/*
-----------------------------------------------------------------
    5. Main section settings
-----------------------------------------------------------------
*/
    /* 5.1 "Scroll to read more" settings - next 4 syntaxes */
    .scroll-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .scroll-article {
        text-transform: uppercase;
        margin: 0 0 3% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: fit-content;
        background-color: rgb(0 0 0 / 50%);
        padding: 2%;
        border-radius: 25px;
        animation: action-call 1s infinite;        
    }

    /* Makes a pulse animation for div class scroll-article */
    @keyframes action-call {
        0% {
        transform: scale(1, 1);
        }
        50% {
        transform: scale(1.1, 1.1);
        }
        100% {
        transform: scale(1, 1);
        }
    }

    .scroll-p {
        color: rgb(255, 255, 255);
        text-align: center;
        text-indent: 0;
    }

    .font-awesome-scroll {
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
    }

    .article {
        margin: 0 5% 0 5%;
        display: flex;
        flex-direction: column;
        flex: 8;
    }

    .sidesection-container {
        flex: 2;
        margin: 10vh 2% 0 0;
    }

    .sections {
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
        padding: 0 2% 1% 2%;
        margin: 4% 0 4% 0;
        background-color: rgb(255, 255, 255);
        border-radius: 0 25px 0 25px;
    }

    .sections-wrapper {
        display: flex;
        align-items: center;
        margin: 4% 1% 4% 1%;
        padding: 1% 0 1% 0;
        background-image: linear-gradient(158deg,
                        rgb(85 0 0) 20%,
                        rgb(250 150 150) 70%);
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
    }

    .festival-wrapper {
        border: none;
        margin: 3% 2% 3% 2%;
        padding: 2% 0 2% 0;
    }

    .article-paragraphs, .article-paragraphs-centered {
        padding: 1% 2% 1% 2%;
        margin: 2%;
        text-align: justify;
        box-shadow: 4px 4px 7px 7px rgb(0 0 0 / 50%);
        background-color: rgb(255, 255, 255);
        border-radius: 0 25px 0 25px;
    }

    .article-paragraphs {
        flex: 3;
    }

    .article-paragraphs-centered {
        flex: 2;
    }

    .story-link {
        font-family: 'Courgette', sans-serif;
        font-weight: 600;
        font-size: 1.3em;
        text-indent: 10%;
        color: rgb(200, 0, 0);
        text-decoration: 0.5px rgb(0, 0, 0) underline;
    }

    .credits {
        text-indent: 10%;
    }

    .cards-wrapper {
        flex: 1.5;
        margin: 1%;
        box-shadow: 4px 4px 10px 5px rgb(0 0 0 / 50%);
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }

    .cards-item {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .cards-paragraph { 
        text-indent: 0;
        padding: 3% 2% 2% 2%;
        text-align: center;
    }

    .iframes {
        flex: 1;
        margin: 1%;
    }

    iframe {
        width: 100%;
        height: 300px;
        border: 0;
    }

/*
-----------------------------------------------------------------
    6. Side section settings
-----------------------------------------------------------------
*/
    .side-sections {
        background-color: rgb(255, 255, 255);
        margin: 0 0 5% 0;
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
    }

    .side-sections-paragraphs {
        padding: 8%;
    }

    .side-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
    }

    .side-cards-item {
        width: 100%;
    }

    form {
        background-image: linear-gradient(158deg,
                        rgb(231, 100, 37) 0%,
                        rgb(173, 55, 20) 74%);
        margin: 5% 0 0 0;
        padding: 3%;
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
    }

    fieldset {
        background-color: white;
        margin: 0 0 5% 0;
        padding: 2%;
        display: flex;
        flex-direction: column;
        border: unset;
        box-shadow: 0px 3px 6px 5px rgb(0 0 0 / 50%);
    }

    legend {
        position:relative;
        top: 7px;
        font-weight: 700;
        margin: 0 0 5% 0;
    }

    input, textarea {
       width: 100%;
       margin: 0 0 3% 0;
    }

    .news-letter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

/*
-----------------------------------------------------------------
    7. Footer settings
-----------------------------------------------------------------
*/
    .footer {
        display: flex;
        height: 15vh;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
    }

    .footer-github-ul {
        flex: 1.01;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(158deg,
                        rgb(55 0 0) 60%,
                        rgb(250 150 150) 90%);
        box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 50%);
        border-radius: 25px;
        margin: 1% 0 1% 0.5%;
    }

    .footer-github-p {
        color: rgb(255, 255, 255);
        text-align: center;
        text-indent: 0;
        border-bottom: 0.5px solid rgb(255, 255, 255);
        text-shadow: rgb(0 0 0) 0px -3px 3px,
                     rgb(0 0 0) 0px 3px 3px;
    }

    .font-awesome-github {
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }

    .footer-social-media {
        flex: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-social-media-title {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
    }

    .social-media {
        display: flex;
        align-items: center;
        width: 50vw;
        justify-content: space-evenly;
    }

    .media-icons {
        font-size: 2rem;
    }

/*
-----------------------------------------------------------------
    9. Standard definition settings
-----------------------------------------------------------------
*/
@media (max-width: 1280px) {

    /* Navigation bar settings for SD */
    .navbutton-item {
        font-size: 60%;
    }

    /* Main section settings for SD*/
    .scroll-article {
        margin: 0 0 20vh 0;
    }

    .sections-wrapper {
        flex-direction: column;
    }

    .iframes {
        width: 100%;
    }

    /* Side section settings for SD */
    .sidesection-container {
        flex: 5;
    }

    /* Footer settings for SD */
    .footer {
        height: 20vh;
    }
}

/*
-----------------------------------------------------------------
    8. Mobile phones settings
-----------------------------------------------------------------
*/
    @media screen and (max-width: 768px) {

        /* Global settings for moble phones*/
        h1, h2, h3 {
            font-size: 1rem;
        }

        /* Background image settings for mobile phones */
        .navmenu-background {
            height: 7vh;
            width: 100vw;
        }

        /* Columns settings for mobile phones */
        .mainsection-container {
            flex-direction: column;
        }

        /* Navigation bar settings for mobile phones */
        .navmenu-container {
            height: 7vh;
            width: 100%;
            position: fixed;
            background-color: rgb(75, 0, 15);
        }

        .fixednav {
            top: 0;
            flex-wrap: wrap;
            flex-direction: row;
            height: 0;
            width: 100vw;
        }

        .navbutton {
            width: unset;
        }

        .navbutton-item {
            width: 9vh;
        }

        .active, .navbutton-item:hover {
            border: 0;
            padding: 0;
            background-color: black;
            height: 7vh;
            align-items: center;
            box-shadow: none;
            justify-content: center;
            margin: 0 3% 0 3%;
            border-radius: 0;
        }

        /* Main section settings for mobile phones */
        .article {
            width: 100vw;
            margin: 0;
        }

        .sections {
            padding: 0 1% 1% 1%;
        }

        .story {
            scroll-margin-top: 7vh;
        }

        /* Side-section settings for mobile phones */
        .sidesection-container {
            padding: 0;
            border: 0;
            margin: 20vh 0 0 0;
        }

        .side-cards {
            margin: 5% 0 5% 0;
        }

        /* Footer settings for mobile phones */
        .footer-github-ul {
            flex: 4;
            font-size: 0.8rem;
        }
    }
        
        /* Footer settings for mobile phones landscape */
        @media (max-height: 500px) {

            .footer-github-ul {
                flex: 2;
                font-size: 0.8rem;
            }
    }
