
/* Global settings */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
}

h1, h2, h3 {
    border-bottom: 0.5px solid black;
    padding-left: 10%;
}

p {
    font-size: 1rem;
}

/* Columns settings */
.main-container {
    display: flex;
    flex-direction: column;
}

.cols-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
}

.navmenu-container {
    background-color: crimson;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-right: 15px solid aliceblue;
}

.mainsection-container {
    background-color: crimson;
    flex: 5;
}

.sidesection-container {
    border-left: 15px solid aliceblue;
    background-color: aliceblue;
    flex: 2;
    padding-right: 2%;
}

/* Navigation bar settings */
nav, li, a {
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
    width: 95%;
    display: flex;
}

.fixednav {
    position: fixed;
    top: 15vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 12%;
}

a:hover {
    cursor: pointer;
    color: aliceblue;
}

.navbutton {
    border-bottom: 0.1rem solid black;
}

.active, .navbutton:hover {
    border-bottom: 0.4rem solid aliceblue;
    border-top: 0.4rem solid aliceblue;
    border-radius: 15%;
    padding: 10%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

/* Main section settings */
.article {
    background-color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.festival {
    background-image: url('../images/bramstoker_festival1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    min-height: 100vh;
    color: aliceblue;
}

.div1-article-img-side {
    display: flex;
    align-items: center;
}

.div2-article-img-side {
    text-align: center;
    border-radius: 5%;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.article-p-side {
    padding-right: 2%;
    padding-left: 2%;
    flex: 2;
}

.div1-article-img-center {
    display: flex;
    justify-content: center;
}

.div2-article-img-center {
    border-radius: 3%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideimg, .mainimg {
    border-radius: 3%;
    width: 100%;
}

.sections {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10%;
    margin-bottom: 5%;
}

/* Side section settings */
.sidecards {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidecards p {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

th {
    text-align: left;
}

table {
    width: 100%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

iframe {
    width: 100%;
    height: 400px;
    border-radius: 3%;
}

/* Footer settings */
.footer {
    background-color: aquamarine;
}


/* Mobile phones settings */
@media (max-width: 700px) {

    h1 {
        font-size: 1rem;
    }

    /* Columns mobile settings */
    .cols-container {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .navmenu-container {
        justify-content: center;
        height: 10vh;
        width: 100%;
        position: fixed;
    }

    .mainsection-container {
        margin-top: 10vh;
    }

    .sidesection-container {
        padding: unset;
        border: unset;
    }

    /* Navbar mobile settings */
    .fixednav {
        top: unset;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        height: unset;
        width: 80vw;
    }

    .nav, li, a {
        font-size: 0.75rem;
        width: unset;
    }

    /* Main section mobile settings */
    .article {
        width: 100vw;
        margin: unset;
        padding: unset;
    }

    .article p {
        padding-left: 3%;
        padding-right: 3%;
    }

    .article-p-side {
        padding: unset;
    }

    .div1-article-img-side {
        flex-direction: column;
    }

    .div2-article-img-side {
        padding-left: 2%;
        padding-right: 2%;
    }

    .festival {
        width: 100vw;
    }

    .sections {
        padding: 1%;
    }
    
    .footer {
        height: 5vh;
    }

}

/* Tablet settings */
@media screen and (max-width: 1300px) and (min-width: 701px) {
    
    h1 {
        font-size: 1rem;
    }

    nav, li, a {
        font-size: 0.6rem;
    }

    .active, .navbutton:hover {
        border-bottom: 0.2rem solid aliceblue;
        border-top: 0.2rem solid aliceblue;
        padding: 2%;
    }

    .div1-article-img-side {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}